<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#phototype/{{PhotoTypeId}}">{{PhotoTypeName}}</a></li>
                <li class="active">{{OfferDetails.OfferName}}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Offer Information </span></h1>

            <div class="row userInfo">
                <div class="statusContent">

                    <div class="col-sm-12">
                        <div class="order-box">
                            <div class="order-box-header">

                                Offer Details
                            </div>


                            <div class="order-box-content">
                                    <p><strong>Offer Name:</strong> {{OfferDetails.OfferName}}</p>

                                    <p><strong>Offer Price:</strong> {{OfferDetails.Price}}</p>
                                <div class="details-description">
                                    <p>{{OfferDetails.Description}} </p>
                                </div>

                                <p><strong>Appointment Time:</strong> {{AppointmentDate | date:'M/d/yyyy HH:mm:ss'}}</p>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                        Show calendar
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="AppointmentDate"
                                                        data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
                                    </ul>
                                </div>


                                <button ng-click="placeOrder()" class="btn btn-info">Order Now</button>
                            </div>
                        </div>

                    </div>
                 </div>
            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>

    <div class="row">
        <div class="col-sm-12 clearfix">
            <div class="order-box">
                <div class="order-box-header">
                  Offer Pictures
                </div>
                <div class="order-box-content">
                    <div class="table-responsive">
                        <table>
                            <tbody infinite-scroll='loadMorePhotoPics()' infinite-scroll-disabled='busy'>
                                <tr ng-repeat="r in OfferDetails.OfferPics">
                                    <td style="width:100%">
                                        <div>
                                            <a href="product-details.html">
                                                <img class="img-responsive" alt="img"
                                                     src="{{r.Path}}">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="hidden-xs" style="width:10%"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        </div>
        <!--/row end-->
        <div style="clear:both"></div>
    </div>
<!-- /main-container -->