
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#account">My Account</a></li>
                <li class="active"> Photographer List</li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Photographer List </span></h1>

            <div class="row userInfo">
                <div class="col-lg-12">
                    <h2 class="block-title-2"> Photographers </h2>
                    <label for="singleSelect"> Filter: </label><br>
                    <select class="form-control" name="singleSelect" ng-model="StatusFilter">
                        <option value="-1">All</option>
                        <option value="0">New</option>
                        <option value="1">Verified</option>
                        <option value="2">Closed</option>
                    </select>
                    <button ng-click="SearchPhotographers()" class="btn btn-default pull-right">Search</button>
                </div>

                <div style="clear:both"></div>

                <div class="col-xs-12 col-sm-12">
                    <table class="footable">
                        <thead>
                            <tr>
                                <th data-class="expand" data-sort-initial="true">
                                    <span title="table sorted by this column on load">Photographer Name</span>
                                </th>
                                <th class="hidden-xs" data-sort-ignore="true">Introduction</th>
                                <th class="hidden-xs"><strong>Open Time</strong></th>
                                <th data-hide="default">Age</th>
                                <th data-hide="default" data-type="numeric">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class-odd="'cssOrderOdd'" ng-class-even="'cssOrderEven'" ng-repeat="p in Photographers">
                                <td>{{p.PhotographerName}}</td>
                                <td class="hidden-xs">{{p.Introduction}}</td>
                                <td class="hidden-xs">{{p.OpenDate | date:'M/d/yyyy HH:mm:ss'}}</td>
                                <td>{{p.Age}}</td>
                                <td data-value="3">
                                    <a ng-if="p.Status == 0" href="#updphotographer/{{p.PhotographerId}}"><span class="label label-primary">New</span></a>
                                    <a ng-if="p.Status == 1" href="#updphotographer/{{p.PhotographerId}}"><span class="label label-success">Verified</span></a>
                                    <a ng-if="p.Status == 2" href="#updphotographer/{{p.PhotographerId}}"><span class="label label-warning">Closed</span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="clear:both"></div>

                <div class="col-lg-12 clearfix">
                    <ul class="pager">
                        <li class="previous pull-right">
                            <a href="#/"> <i class="fa fa-home"></i> Go to Shop </a>
                        </li>
                        <li class="next pull-left"><a href="#account"> &larr; Back to My Account</a></li>
                    </ul>
                </div>
            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /main-container -->
