<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#account">My Account</a></li>
                <li class="active"> Order List</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Order Status </span></h1>

            <div class="row userInfo">
                <div class="col-lg-12">
                    <h2 class="block-title-2"> Your Order Status </h2>
                </div>


                <div class="statusContent">


                    <div class="col-sm-12">
                        <div class="statusTop">
                            <p><strong>Status:</strong> <span class="label {{Details.LabelString}}"> {{Details.StatusString}} </span></p>

                            <p><strong>Appointment Date:</strong> {{Details.AppointmentTime | date:'d/M/yyyy HH:mm:ss'}}</p>

                            <p><strong>Order Date:</strong> {{Details.OrderTime | date:'d/M/yyyy HH:mm:ss'}}</p>

                            <p><strong>Order Number:</strong> {{Details.SerialNo}} </p>
                        </div>
                    </div>

                </div>
            </div>
            <!--/row end-->
            <div class="product-tab w100 clearfix">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab">Details</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="details">
                        <table class="table">
                            <colgroup>
                                <col style="width:70%">
                                <col style="width:30%">
                            </colgroup>
                            <tbody>
                                <tr class="success">
                                    <td><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<strong>Customer Name</strong></td>
                                    <td><strong>{{Details.CustomerName}}</strong></td>
                                </tr>
                                <tr class="info">
                                    <td><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<strong>Contact Number</strong></td>
                                    <td><strong>{{Details.Phone}}</strong></td>
                                </tr>
                                <tr class="success">
                                    <td><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<strong>Order Amount</strong></td>
                                    <td><strong>${{Details.Amount}}</strong></td>
                                </tr>
                                <tr class="info">
                                    <td><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<strong>No Servicer</strong></td>
                                    <td><strong>{{Details.OfferInfo.NoServicer}}</strong></td>
                                </tr>
                                <tr class="success">
                                    <td><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;&nbsp;<strong>Max People</strong></td>
                                    <td><strong>{{Details.OfferInfo.MaxPeople}}</strong></td>
                                </tr>
                                <tr class="info">
                                    <td><i class="glyphicon glyphicon-camera"></i>&nbsp;&nbsp;<strong>No Raw Photo</strong></td>
                                    <td><strong>{{Details.OfferInfo.NoRawPhoto}}</strong></td>
                                </tr>
                                <tr class="success">
                                    <td><i class="glyphicon glyphicon-picture"></i>&nbsp;&nbsp;<strong>No Retouched Photo</strong></td>
                                    <td><strong>{{Details.OfferInfo.NoRetouchedPhoto}}</strong></td>
                                </tr>
                                <tr class="info">
                                    <td><i class="glyphicon glyphicon-modal-window"></i>&nbsp;&nbsp;<strong>No Makeup</strong></td>
                                    <td><strong>{{Details.OfferInfo.NoMakeup}}</strong></td>
                                </tr>
                                <tr class="success">
                                    <td><i class="glyphicon glyphicon-knight"></i>&nbsp;&nbsp;<strong>No Costume</strong></td>
                                    <td><strong>{{Details.OfferInfo.NoCostume}}</strong></td>
                                </tr>
                                <tr class="info">
                                    <td><i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;<strong>No Venue</strong></td>
                                    <td><strong>{{Details.OfferInfo.NoVenue}}</strong></td>
                                </tr>
                                <tr class="success">
                                    <td><i class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;<strong>Duration Hour</strong></td>
                                    <td><strong>{{Details.OfferInfo.DurationHour}}</strong></td>
                                </tr>
                                <tr class="info">
                                    <td><i class="glyphicon glyphicon-pawn"></i>&nbsp;&nbsp;<strong>Comment</strong></td>
                                    <td>{{Details.OfferInfo.Comment}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <!-- /.tab content -->

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->
    <div ng-if="CustomerType==2 && Details.Paid == 1" class="row">
        <div class="col-md-12" margin-bottom:10px;">
            <button ng-click="confirmRawPhotosUploaded()" class="btn btn-danger">Confirm All Raw Photos Uploaded</button>
            <span class="errorresponse">{{ErrorMsg}}</span>
        </div>
    </div>
    <div ng-if="CustomerType==2 && Details.Paid == 1" class="row">
        <div class="col-lg-12">
            <h2 class="block-title-2"> Upload Raw Photos </h2>
        </div>
        <div class="col-md-12" margin-bottom:10px;">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
                <!-- The file input field used as target for the file upload widget -->
                <input type="file" id="fileupload" onchange="angular.element(this).scope().setFiles()" multiple>
            </span>
            <button ng-click="uploadPhotos()" class="btn btn-info">Upload Photos</button>
            <!--<input type="file" id="photoSelector" onchange="angular.element(this).scope().setFiles()" multiple accept="image/*" class="btn btn-warning" />-->
        </div>

    </div>
    <div ng-if="CustomerType==2 && Details.Paid == 1" id="photosToUpLoad" class="row">
        <div class="col-md-12" style="padding-top:10px;">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th class="hidden-xs">File Type</th>
                        <th class="hidden-xs">File Size</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in PhotoList">

                        <td>{{file.name}}</td>
                        <td class="hidden-xs">{{file.type}}</td>
                        <td class="hidden-xs">{{file.size}}</td>
                        <td>
                            <div id="{{'P'+$index}}">

                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div ng-if="CustomerType==2 && Details.Paid == 1"  class="row">
        <div class="col-sm-12 clearfix">
            <div class="order-box">
                <div class="order-box-header">

                    Raw Photos
                </div>


                <div class="order-box-content">
                    <div class="table-responsive">
                        <table>
                            <tbody infinite-scroll='loadMore(1)' infinite-scroll-disabled='busy'>
                                <tr ng-repeat="r in Details.RawPhotos">
                                    <td style="width:100%">
                                        <label>{{r.PhotoName}}</label>
                                        <br />
                                        <div>
                                                <img class="img-responsive" alt="img"
                                                     src="{{r.Path}}">
                                        </div>
                                    </td>
                                    <td class="hidden-xs" style="width:10%"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        </div>
        <!--/row end-->
        <div style="clear:both"></div>
    </div>
<!-- /main-container -->