<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#account">My Account</a></li>
                <li class="active"> Order List</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Order Status </span></h1>

            <div class="row userInfo">
                <div class="col-lg-12">
                    <h2 class="block-title-2"> Your Order Status </h2>
                </div>


                <div class="statusContent">


                    <div class="col-sm-12">
                        <div class=" statusTop">
                            <p><strong>Status:</strong> {{Details.StatusString}}</p>

                            <p><strong>Appointment Date:</strong> {{Details.AppointmentTime | date:'M/d/yyyy HH:mm:ss'}}</p>

                            <p><strong>Order Date:</strong> {{Details.OrderTime | date:'M/d/yyyy HH:mm:ss'}}</p>

                            <p><strong>Order Number:</strong> {{Details.SerialNo}} </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="order-box">
                            <div class="order-box-header">

                                Order Details
                            </div>


                            <div class="order-box-content">
                                <div class="address">
                                    <p><strong>TITLE </strong></p>

                                    <p><strong>Ruth F. Burns </strong></p>

                                    <div class="adr">
                                        4894 Burke Street
                                        North Billerica, MA 01862
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->
    <div ng-if="CustomerType==1" class="row">
        <div class="col-md-12" margin-bottom:10px;">
            <button ng-click="selectRawPhotos()" class="btn btn-info">Select Photos</button> <button ng-click="confirmPhotoSelected()" class="btn btn-danger">Confirm Selected</button>
            <!--<input type="file" id="photoSelector" onchange="angular.element(this).scope().setFiles()" multiple accept="image/*" class="btn btn-warning" />-->
            <span class="errorresponse">{{ErrorMsg}}</span>
        </div>

    </div>
    <div ng-if="CustomerType==1" class="row">
        <div class="col-sm-12 clearfix">
            <div class="order-box">
                <div class="order-box-header">

                    Raw Photos
                </div>


                <div class="order-box-content">
                    <div class="table-responsive">
                        <table>
                            <tbody infinite-scroll='loadMore(1)' infinite-scroll-disabled='busy'>
                                <tr ng-repeat="r in Details.RawPhotos">
                                    <td style="width:100%" class="{{r.Selected}}PicColumn">
                                        <label>{{r.PhotoName}}</label>
                                        <input ng-if="!r.Selected" class="pull-left" type="checkbox" ng-model="r.NewSelected">
                                        <input ng-if="r.Selected" class="pull-left" type="checkbox" ng-checked="r.Selected" ng-init="r.NewSelected = true" ng-model="r.NewSelected">
                                        <br />
                                        <div>
                                                <img class="img-responsive" alt="img"
                                                     src="{{r.Path}}">
                                        </div>
                                    </td>
                                    <td class="hidden-xs" style="width:10%"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        </div>
        <!--/row end-->
        <div style="clear:both"></div>
    </div>
<!-- /main-container -->