<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active"> My account</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-unlock-alt"></i> Hi {{CustomerName}} </span><label ng-if="IsAdmin >0">[ Administrator ]</label></h1>

            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h2 class="block-title-2"><span>Welcome to your account. Here you can manage all of your personal information and orders.</span>
                    </h2>
                    <ul class="myAccountList row">
                        <li ng-if="IsAdmin ==0" class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail equalheight"><a title="Orders" href="#orderlist"><i
                                    class="fa fa-book"></i>Orders</a></div>
                        </li>
                        
                        <li ng-if="IsVerified >0 && CustomerType == 2 && IsAdmin ==0" class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail equalheight" style="height: 84px;"><a title="Add  address" href="#addoffer"> <i class="fa fa-edit"> </i>Add Offer</a></div>
                        </li>

                        <li ng-if="CustomerType == 2" class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail equalheight"><a title="My wishlists"
                                                                  href="#offerlist"><i class="fa fa-calculator"></i>
                                Offers</a></div>
                        </li>
                        
                        <li ng-if="IsAdmin >0 && CustomerType == 2"class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail equalheight">
                                <a title="Personal information" href="#photographerlist">
                                    <i class="fa fa-users"></i>Photographers
                                </a>
                            </div>
                        </li>

                        <li ng-if="CustomerType == 1" class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail equalheight">
                                <a title="My wishlists"
                                   href="#updcustomer/{{AcccountId}}">
                                    <i class="fa fa-cog"></i>
                                    Personal Info
                                </a>
                            </div>
                        </li>

                        <li ng-if="CustomerType == 2 && IsAdmin ==0" class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail equalheight">
                                <a title="My wishlists"
                                   href="#updphotographerinfo/{{AcccountId}}">
                                    <i class="fa fa-cog"></i>
                                    Personal Info
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="clear clearfix"></div>
                </div>
            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->
<div class="gap"></div>
